body
{
    background-color: rgb(53, 53, 56);
}
section
{
    height: 125vh;
}

.Nav
{  
    height: 10vh;
}

a
{
    color: rgb(212, 199, 199);
}

footer
{
    height: 100px;
    background-color: brown;
    display: flex;

}

nav
{
    display: flex;
    justify-content: space-between;
}

ul
{
    display: flex;
    list-style-type: none;
    width: 550px;
    justify-content: space-around;
    font-size: 30px;
}

li
{
    text-decoration: none;
    color : white;
}

h1
{
    text-align: center;
    font-size: 90px;
    margin: 10px;
    color: white;
}

p
{
    text-align: Left;
    margin: 30px;
    color : white;
}

.Footer
{
    text-align: center;
    color : white;
    font-size: 20px;
}
.Main
{
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
}
.Container
{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}